<h1 style="text-align:center">Paypal Examination</h1>
<h6 style="color:red;text-align:center">Please select the giving restaurant CSV file in order to load the data</h6>
<input type="file" accept=".csv" style="text-align:center" (change)="handleFileSelect($event)">
<hr>
<table id="example" class="display" class="display" style="width:100%">
	<thead>
		<tr>
			<!-- <th *ngFor="let item of dataTableHeader">
			  {{item}}
      </th> -->
      <th>Restaurant ID</th>
      <th>Restaurant Name</th>
      <th>Cuisines</th>
      <th>Average Cost for two</th>
      <th>Currency</th>
      <th>Has Table booking</th>
      <th>Has Online delivery</th>
      <th>Aggregate rating</th>
      <th>Rating color</th>
      <th>Rating text</th>
      <th>Votes</th>
		</tr>
	</thead>
  <tbody>
		<tr *ngFor="let key of tableData">
			<td>{{key['Restaurant ID']}}</td>
      <td>{{key['Restaurant Name']}}</td>
      <td>{{key['Cuisines']}}</td>
      <td>{{key['Average Cost for two']}}</td>
      <td>{{key['Currency']}}</td>
      <td>{{key['Has Table booking']}}</td>
      <td>{{key['Has Online delivery']}}</td>
      <td>{{key['Aggregate rating']}}</td>
      <td>{{key['Rating color']}}</td>
      <td>{{key['Rating text']}}</td>
      <td>{{key['Votes']}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<!-- <th *ngFor="let item of dataTableHeader">
			  {{item}}
      </th> -->
      <th>Restaurant ID</th>
      <th>Restaurant Name</th>
      <th>Cuisines</th>
      <th>Average Cost for two</th>
      <th>Currency</th>
      <th>Has Table booking</th>
      <th>Has Online delivery</th>
      <th>Aggregate rating</th>
      <th>Rating color</th>
      <th>Rating text</th>
      <th>Votes</th>
		</tr>
	</tfoot>