<h1 style="text-align:center">Paypal Examination</h1>
<h6 style="color:red;text-align:center">Please select giving restaurant CSV file in order to load the data</h6>
<input type="file" accept=".csv" (change)="handleFileSelect($event)">
<hr>
<table id="example" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th *ngFor="let item of dataTableHeader">
			  {{item}}
      </th>
			<!-- <th>Office</th>
			<th>Age</th>
			<th>Start date</th>
			<th>Salary</th> -->
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th *ngFor="let item of dataTableHeader">
			  {{item}}
      </th>
		</tr>
	</tfoot>
	<tbody>
		<tr *ngFor="let key of tableData">
			<td>{{key['Restaurant ID']}}</td>
      <td>{{key['Restaurant Name']}}</td>
      <td>{{key['Cuisines']}}</td>
      <td>{{key['Average Cost for two']}}</td>
      <td>{{key['Currency']}}</td>
      <td>{{key['Has Table booking']}}</td>
      <td>{{key['Has Online delivery']}}</td>
      <td>{{key['Aggregate rating']}}</td>
      <td>{{key['Rating color']}}</td>
      <td>{{key['Rating text']}}</td>
      <td>{{key['Votes']}}</td>
		</tr>
	</tbody>