<h1 style="text-align:center">Paypal Examination</h1>
<h6 style="color:red;text-align:center">Please select any CSV file in order to load the data</h6>
<input type="file" accept=".csv" (change)="handleFileSelect($event)">
<button (click)="ConvertCSVtoJSON()">Convert CSV to JSON</button>
<hr>
<table id="example" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th *ngFor="let item of dataTableHeader">
			  {{item}}
      </th>
			<!-- <th>Office</th>
			<th>Age</th>
			<th>Start date</th>
			<th>Salary</th> -->
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th *ngFor="let item of dataTableHeader">
			  {{item}}
      </th>
		</tr>
	</tfoot>
	<tbody>
		<tr *ngFor="let key in tableData">
			<td>{{ tableData[key] }}</td>
		</tr>
	</tbody>